<template>
  <!--begin::Menu 2-->
  <div
    class="
      menu
      menu-sub
      menu-sub-dropdown
      menu-column
      menu-rounded
      menu-gray-600
      menu-state-bg-light-primary
      fw-bold
      w-200px
    "
    data-kt-menu="true"
  >
    <!--begin::Menu item-->
<!--    <div class="menu-item px-3">-->
<!--      <div class="menu-content fs-6 text-dark fw-bolder px-3 py-4">-->
<!--        Quick Actions-->
<!--      </div>-->
<!--    </div>-->
    <!--end::Menu item-->

    <!--begin::Menu separator-->
    <div class="menu-item px-5">
      <div class="menu-content text-muted pb-2 px-5 fs-7 text-uppercase">
        Templates
      </div>
    </div>
    <div class="separator mb-3 opacity-75"></div>
    <!--end::Menu separator-->

    <!--begin::Menu item-->
    <div class="menu-item px-3">
      <a href="#" class="menu-link px-3"> Template 1 </a>
    </div>
    <!--end::Menu item-->

    <!--begin::Menu item-->
    <div class="menu-item px-3">
      <a href="#" class="menu-link px-3"> Template 2 </a>
    </div>
    <!--end::Menu item-->
    <div class="menu-item px-3">
      <a href="#" class="menu-link px-3"> Template 3 </a>
    </div>

    <!--begin::Menu item-->
<!--    <div-->
<!--      class="menu-item px-3"-->
<!--      data-kt-menu-trigger="hover"-->
<!--      data-kt-menu-placement="right-start"-->
<!--      data-kt-menu-flip="left-start, top"-->
<!--    >-->
<!--      &lt;!&ndash;begin::Menu item&ndash;&gt;-->
<!--      <a href="#" class="menu-link px-3">-->
<!--        <span class="menu-title">New Group</span>-->
<!--        <span class="menu-arrow"></span>-->
<!--      </a>-->
<!--      &lt;!&ndash;end::Menu item&ndash;&gt;-->

<!--      &lt;!&ndash;begin::Menu sub&ndash;&gt;-->
<!--      <div class="menu-sub menu-sub-dropdown w-175px py-4">-->
<!--        &lt;!&ndash;begin::Menu item&ndash;&gt;-->
<!--        <div class="menu-item px-3">-->
<!--          <a href="#" class="menu-link px-3"> Admin Group </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;end::Menu item&ndash;&gt;-->

<!--        &lt;!&ndash;begin::Menu item&ndash;&gt;-->
<!--        <div class="menu-item px-3">-->
<!--          <a href="#" class="menu-link px-3"> Staff Group </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;end::Menu item&ndash;&gt;-->

<!--        &lt;!&ndash;begin::Menu item&ndash;&gt;-->
<!--        <div class="menu-item px-3">-->
<!--          <a href="#" class="menu-link px-3"> Member Group </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;end::Menu item&ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash;end::Menu sub&ndash;&gt;-->
<!--    </div>-->
    <!--end::Menu item-->

    <!--begin::Menu item-->

    <!--end::Menu item-->

    <!--begin::Menu separator-->
    <div class="separator mt-3 opacity-75"></div>
    <!--end::Menu separator-->

    <!--begin::Menu item-->
<!--    <div class="menu-item px-3">-->
<!--      <div class="menu-content px-3 py-3">-->
<!--        <a class="btn btn-primary btn-sm px-4" href="#"> Generate Reports </a>-->
<!--      </div>-->
<!--    </div>-->
    <!--end::Menu item-->
  </div>
  <!--end::Menu 2-->
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "dropdown-2",
  components: {},
});
</script>
