<template>
  <!--begin::Navbar-->
  <div class="row">
    <!--     second investor data data 11111111111111111111111111111111111111111111-->
    <div class="col-8">
      <div class="card mb-5 mb-xl-10">
        <div class="card-body pt-9 pb-0">
          <!--begin::Details-->
          <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
            <!--begin: Pic-->
            <div class="me-7 mb-4">
              <div
                class="
                  symbol symbol-100px symbol-lg-160px symbol-fixed
                  position-relative
                "
              >
                <!--            <img src="media/avatars/150-2.jpg" alt="image" />-->
              </div>
            </div>
            <!--end::Pic-->

            <!--begin::Info-->
            <div class="flex-grow-1">
              <!--begin::Title-->
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-start
                  flex-wrap
                  mb-2
                "
              >
                <!--begin::User-->
                <div class="d-flex flex-column">
                  <!--begin::Name-->
                  <div class="d-flex align-items-center mb-2">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"
                      ><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/General/User.svg--><svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1"
                      >
                        <g
                          stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd"
                        >
                          <polygon points="0 0 24 0 24 24 0 24" />
                          <path
                            d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                            fill="#000000"
                            fill-rule="nonzero"
                            opacity="0.3"
                          />
                          <path
                            d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                            fill="#000000"
                            fill-rule="nonzero"
                          />
                        </g></svg
                      ><!--end::Svg Icon--></span
                    >
                    <a
                      href="#"
                      class="
                        text-gray-800 text-hover-primary
                        fs-2
                        fw-bolder
                        me-1
                      "
                      >Investor Data</a
                    >

                    >
                  </div>
                  <div class="d-flex flex-row fw-bold fs-2 mb-2 pe-1">
                    <div class="d-flex flex-row fw-bold fs-2 mb-2 pe-1">
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="text-gray-600">Name:</div>
                        <div class="text-gray-600">Title:</div>
                        <a
                          :href="link_url"
                          class="text-dark"
                          target="_blank"
                          rel="noopener noreferrer"
                          ref="mylink"
                        >
                          {{ link_name }}
                        </a>
                      </div>
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="fw-bolder">
                          <div v-for="btn in myButtons" :key="btn.id">

                            <div v-clipboard="btn.value" class="fw-bolder">{{btn.value}}</div>
                            <div v-clipboard="value" class="fw-bolder">sparta</div>
                          </div>
                        </div>

                        <div class="fw-bolder">title</div>
                      </div>
                    </div>
                    <div class="d-flex flex-row fw-bold fs-2 mb-2 pe-1">
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="fw-bolder">Salutation:</div>
                        <div class="fw-bolder">Birthdate:</div>
                      </div>
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="text-gray-600">Salutation</div>
                        <div class="text-gray-600">01/01/01</div>
                      </div>
                    </div>
                    <div class="d-flex flex-row fw-bold fs-2 mb-2 pe-1">
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="text-gray-600">Security Number:</div>
                        <div class="text-gray-600">Nationality:</div>
                      </div>
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="fw-bolder">1234567890</div>
                        <div class="fw-bolder">German</div>
                      </div>
                    </div>
                    <div class="d-flex flex-row fw-bold fs-2 mb-2 pe-1">
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="text-gray-600">KYC Documents:</div>
                        <div class="fw-bolder"></div>
                      </div>
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="fw-bolder">Passport</div>
                        <div class="text-gray-600"></div>
                      </div>
                    </div>
                  </div>
                  <!--end::Info-->
                </div>
                <!--end::User-->

                <!--begin::Actions-->

                <!--end::Actions-->
              </div>
              <!--end::Title-->
              <!--begin::Stats-->

              <!--end::Stats-->
            </div>
            <!--end::Info-->
          </div>
          <!--end::Details-->

          <!--begin::Navs-->

          <!--begin::Navs-->
        </div>
      </div>
      <!--end::Navbar-->
      <router-view></router-view>
    </div>
<!--     second properrty data 22222222222222222222222222-->
    <div class="col-4">
      <div class="card mb-5 mb-xl-10">
        <div class="card-body pt-9 pb-0">
          <!--begin::Details-->
          <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
            <!--begin: Pic-->
            <div class="me-7 mb-4">
              <div
                class="
                  symbol symbol-100px symbol-lg-160px symbol-fixed
                  position-relative
                "
              >
                <!--            <img src="media/avatars/150-2.jpg" alt="image" />-->
              </div>
            </div>

            <div class="flex-grow-1">
              <!--begin::Title-->
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-start
                  flex-wrap
                  mb-2
                "
              >
                <!--begin::User-->
                <div class="d-flex flex-column">
                  <!--begin111111111111111111111111111111111111111111111111111::Name-->
                  <div class="d-flex align-items-center mb-2">
                    <span class="svg-icon svg-icon-danger svg-icon-2x"
                      ><!--begin::Svg Icon | path:/var/w
                    ww/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Home/Home.sv
                    g-->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1"
                      >
                        <g
                          stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd"
                        >
                          <rect x="0" y="0" width="24" height="24" />
                          <path
                            d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z"
                            fill="#000000"
                          />
                        </g></svg
                      ><!--end::Svg Icon-->
                    </span>
                    <a
                      href="#"
                      class="
                        text-gray-800 text-hover-primary
                        fs-2
                        fw-bolder
                        me-1
                      "
                      >Property Data</a
                    >

                    >
                  </div>
                  <!--end::Name-->

                  <!--begin  2222222222222222222222222::Info-->
                  <div class="d-flex flex-row fw-bold fs-2 mb-2 pe-1">
                    <div class="d-flex flex-row fw-bold fs-2 mb-2 pe-1">
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div
                            v-clipboard="value" class="text-gray-600">Name:</div>
                        <div class="text-gray-600">Title:</div>

                      </div>
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="fw-bolder">Andrew</div>
                        <div class="fw-bolder">title</div>
                      </div>
                    </div>
                    <div class="d-flex flex-row fw-bold fs-2 mb-2 pe-1">
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="fw-bolder">Salutation:</div>
                        <div class="fw-bolder">Birthdate:</div>
                      </div>
                      <div class="d-flex flex-column fw-bold fs-6 mb-4 pe-2">
                        <div class="text-gray-600">Salutation</div>
                        <div class="text-gray-600">01/01/01</div>
                      </div>
                    </div>
                  </div>
                  <!--end::Info-->
                </div>
              </div>
            </div>
            <!--end::Info-->
          </div>
          <!--end::Details-->

          <!--begin::Navs-->

          <!--begin::Navs-->
        </div>
      </div>
      <!--end::Navbar-->
      <router-view></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    // const value = ref("lorem ipsum");

    // return { value };
  },
  name: "kt-account",
  data: function () {
    return {
      myButtons: [
        {
          id:1,
          value: 'B1',
        },
        {
          id:2,
          value: 'B2',
        },
        {
          id:3,
          value: 'B3',
        },
      ],
    };
  },
  components: {
    // Dropdown3,
  },
  methods: {
    onCopy: function (e) {
      alert("You just copied the following text to the clipboard: " + e.text);
    },
    onError: function (e) {
      alert("Failed to copy the text to the clipboard");
      console.log(e);
    },
  },
});
</script>
