<template>
  <!--begin::Tables Widget 13-->
  <div :class="widgetClasses" class="card">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">My Contracts</span>

        <span class="text-muted mt-1 fw-bold fs-7"> </span>
      </h3>
      <div class="card-toolbar">
        <!--begin::Menu-->
        <button
          type="button"
          class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-flip="top-end"
        >
          <span class="svg-icon svg-icon-2">
            <inline-svg src="media/icons/duotune/general/gen024.svg" />
          </span>
        </button>
        <Dropdown2></Dropdown2>
        <!--end::Menu-->
      </div>
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body py-3">

<!--      begin search-->
      <div class="mt-2 mb-7">
        <div class="row align-items-center">
          <div class="col-lg-9 col-xl-8">
            <div class="row align-items-center">
              <div class="col-md-4 my-2 my-md-0">
                <div class="input-icon">
                  <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query">
                  <span>
																	<i class="flaticon2-search-1 text-muted"></i>
																</span>
                </div>
              </div>
              <div class="col-md-4 my-2 my-md-0">
                <div class="d-flex align-items-center">
                  <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                  <div class="dropdown bootstrap-select form-control"><select class="form-control" id="kt_datatable_search_status" tabindex="null">
                    <option value="">All</option>
                    <option value="1">Pending</option>
                    <option value="2">Delivered</option>
                    <option value="3">Canceled</option>
                    <option value="4">Success</option>
                    <option value="5">Info</option>
                    <option value="6">Danger</option>
                  </select>
                    <button type="button" tabindex="-1" class="btn dropdown-toggle btn-light bs-placeholder"
                            data-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox"
                            aria-expanded="false" data-id="kt_datatable_search_status" title="All">
                      <div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">All</div></div> </div></button><div class="dropdown-menu" style="max-height: 395.562px; overflow: hidden; min-height: 130px;"><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1" aria-activedescendant="bs-select-1-0" style="max-height: 383.562px; overflow-y: auto; min-height: 118px;"><ul class="dropdown-menu inner show" role="presentation" style="margin-top: 0px; margin-bottom: 0px;"><li class="selected active"><a role="option" class="dropdown-item active selected" id="bs-select-1-0" tabindex="0" aria-setsize="7" aria-posinset="1" aria-selected="true"><span class="text">All</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-1" tabindex="0"><span class="text">Pending</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-2" tabindex="0"><span class="text">Delivered</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-3" tabindex="0"><span class="text">Canceled</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-4" tabindex="0"><span class="text">Success</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-5" tabindex="0"><span class="text">Info</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-6" tabindex="0"><span class="text">Danger</span></a></li></ul></div></div></div>
                </div>
              </div>
              <div class="col-md-4 my-2 my-md-0">
                <div class="d-flex align-items-center">
                  <label class="mr-3 mb-0 d-none d-md-block">Type:</label>
                  <div class="dropdown bootstrap-select form-control"><select class="form-control" id="kt_datatable_search_type" tabindex="null">
                    <option value="">All</option>
                    <option value="1">Online</option>
                    <option value="2">Retail</option>
                    <option value="3">Direct</option>
                  </select><button type="button" tabindex="-1" class="btn dropdown-toggle btn-light bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" data-id="kt_datatable_search_type" title="All"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">All</div></div> </div></button><div class="dropdown-menu" style="max-height: 395.562px; overflow: hidden; min-height: 130px;"><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1" aria-activedescendant="bs-select-2-0" style="max-height: 383.562px; overflow-y: auto; min-height: 118px;"><ul class="dropdown-menu inner show" role="presentation" style="margin-top: 0px; margin-bottom: 0px;"><li class="selected active"><a role="option" class="dropdown-item active selected" id="bs-select-2-0" tabindex="0" aria-setsize="4" aria-posinset="1" aria-selected="true"><span class="text">All</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-1" tabindex="0"><span class="text">Online</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-2" tabindex="0"><span class="text">Retail</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-2-3" tabindex="0"><span class="text">Direct</span></a></li></ul></div></div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
            <a href="#" class="btn btn-light-primary px-6 font-weight-bold">Search</a>
          </div>
        </div>
      </div>
<!--      end search-->
      <!--begin::Table container-->
      <div class="table-responsive">
        <!--begin::Table-->
        <table
          class="
            table table-row-bordered table-row-gray-100
            align-middle
            gs-0
            gy-3
          "
        >
          <!--begin::Table head-->
          <thead>
            <tr class="fw-bolder text-muted">
              <th class="min-w-150px">CASE#</th>
              <th class="min-w-140px">INVESTOR</th>
              <th class="min-w-120px">CONTRACT TYPE</th>
              <th class="min-w-120px">PERSONAL INFO</th>
              <th class="min-w-120px">OBJECT DATA</th>
              <th class="min-w-120px">STATUS</th>
              <th class="min-w-100px text-end"></th>
            </tr>
          </thead>
          <!--end::Table head-->

          <!--begin::Table body-->
          <tbody>
            <template v-for="(item, index) in list" :key="index">
              <tr>
                <td>
                  <a
                    href="#"
                    class="text-dark fw-bolder text-hover-primary fs-6"
                    >{{ item.orderid }}</a
                  >
                </td>

                <td>
                  <a
                    href="#"
                    class="
                      text-dark
                      fw-bolder
                      text-hover-primary
                      d-block
                      mb-1
                      fs-6
                    "
                    >{{ item.company.name }}</a
                  >
                  <span class="text-muted fw-bold text-muted d-block fs-7">{{
                    item.country.code
                  }}</span>
                </td>

                <td>
                  <a
                    href="#"
                    class="
                      text-dark
                      fw-bolder
                      text-hover-primary
                      d-block
                      mb-1
                      fs-6
                    "
                    >{{ item.date.value }}</a
                  >
                  <span class="text-muted fw-bold text-muted d-block fs-7">{{
                    item.date.remarks
                  }}</span>
                </td>

                <td>
                  <a
                    href="#"
                    class="
                      text-dark
                      fw-bolder
                      text-hover-primary
                      d-block
                      mb-1
                      fs-6
                    "
                    >{{ item.company.name }}</a
                  >
                  <span class="text-muted fw-bold text-muted d-block fs-7">{{
                    item.company.fields
                  }}</span>
                </td>

                <td class="text-dark fw-bolder text-hover-primary fs-6">
                  {{ item.total }}
                </td>

                <td>
                  <span
                    :class="`badge-light-${item.status.color}`"
                    class="badge"
                    >{{ item.status.label }}</span
                  >
                </td>

                <td class="text-end">
                  <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary
                      me-1
                    "
                    >view
                  </a>
                </td>
              </tr>
            </template>
          </tbody>
          <!--end::Table body-->
        </table>
        <!--end::Table-->
      </div>
      <!--end::Table container-->
    </div>
    <!--begin::Body-->
  </div>
  <!--end::Tables Widget 13-->
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Dropdown2 from "@/components/dropdown/Dropdown2.vue";

export default defineComponent({
  name: "kt-widget-12",
  components: {
    Dropdown2,
  },
  props: {
    widgetClasses: String,
  },
  setup() {
    const list = [
      {
        orderid: "#16512",
        country: {
          name: "Investor Name",
        },
        date: {
          value: "Contract type",
        },
        progress: {
          value: "50",
          color: "primary",
        },
        company: {
          name: "Andrew Webb",
          fields: "123456789 ",
        },
        status: {
          label: "Approved",
          color: "success",
        },
        total: "Flat | 4137 Pursglove Court",
      },
      {
        orderid: "#16512",
        country: {
          name: "Investor Name",
        },
        date: {
          value: "Contract type",
        },
        progress: {
          value: "50",
          color: "primary",
        },
        company: {
          name: "Andrew Webb",
          fields: "123456789 ",
        },
        status: {
          label: "Pending",
          color: "warning",
        },
        total: "Flat | 4137 Pursglove Court",
      },
      {
        orderid: "#16512",
        country: {
          name: "Investor Name",
        },
        date: {
          value: "Contract type",
        },
        progress: {
          value: "50",
          color: "primary",
        },
        company: {
          name: "Andrew Webb",
          fields: "123456789 ",
        },
        status: {
          label: "Approved",
          color: "success",
        },
        total: "Flat | 4137 Pursglove Court",
      },
      {
        orderid: "#16512",
        country: {
          name: "Investor Name",
        },
        date: {
          value: "Contract type",
        },
        progress: {
          value: "50",
          color: "primary",
        },
        company: {
          name: "Andrew Webb",
          fields: "123456789 ",
        },
        status: {
          label: "Pending",
          color: "warning",
        },
        total: "Flat | 4137 Pursglove Court",
      },
    ];

    return {
      list,
    };
  },
});
</script>
