<template>
  <!--begin::Dashboard-->

  <TableWidget13 widget-classes="mb-5 mb-xl-8"></TableWidget13>


  <!--end::Dashboard-->
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import TableWidget13 from "@/components/widgets/tables/Widget13.vue";
import QuillEditor from "@/components/quill/QuillEditor.vue";

import { setCurrentPageTitle } from "@/core/helpers/breadcrumb";
import AccountOverview from "@/views/crafted/account/Overview.vue";
import KtAccount from "@/views/crafted/account/Account.vue";

export default defineComponent({
  name: "dashboard",
  components: {
    // KtAccount,
    // AccountOverview,
    TableWidget13,
    // QuillEditor,
  },
  setup() {
    onMounted(() => {
      setCurrentPageTitle("Dashboard");
    });
  },
});
</script>
