<template>
  <div class="card-header border-0">
    <!--begin::Card title-->
    <div class="card-title flex-column">
      <h2 class="mb-1">Contract</h2>
      <!--      <div class="fs-6 fw-bold text-muted">Keep your account extra secure with a second authentication step.</div>-->
    </div>
    <!--end::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar">

      <button
          type="button"
          class="btn btn-primary btn-sm me-4"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
      >
        <!--begin::Svg Icon | path: icons/duotune/technology/teh004.svg-->
        <span class="svg-icon svg-icon-3">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"/>
                    <path d="M8,13.1668961 L20.4470385,11.9999863 L8,10.8330764 L8,5.77181995 C8,5.70108058 8.01501031,5.63114635 8.04403925,5.56663761 C8.15735832,5.31481744 8.45336217,5.20254012 8.70518234,5.31585919 L22.545552,11.5440255 C22.6569791,11.5941677 22.7461882,11.6833768 22.7963304,11.794804 C22.9096495,12.0466241 22.7973722,12.342628 22.545552,12.455947 L8.70518234,18.6841134 C8.64067359,18.7131423 8.57073936,18.7281526 8.5,18.7281526 C8.22385763,18.7281526 8,18.504295 8,18.2281526 L8,13.1668961 Z" fill="#000000"/>
                    <path d="M4,16 L5,16 C5.55228475,16 6,16.4477153 6,17 C6,17.5522847 5.55228475,18 5,18 L4,18 C3.44771525,18 3,17.5522847 3,17 C3,16.4477153 3.44771525,16 4,16 Z M1,11 L5,11 C5.55228475,11 6,11.4477153 6,12 C6,12.5522847 5.55228475,13 5,13 L1,13 C0.44771525,13 6.76353751e-17,12.5522847 0,12 C-6.76353751e-17,11.4477153 0.44771525,11 1,11 Z M4,6 L5,6 C5.55228475,6 6,6.44771525 6,7 C6,7.55228475 5.55228475,8 5,8 L4,8 C3.44771525,8 3,7.55228475 3,7 C3,6.44771525 3.44771525,6 4,6 Z" fill="#000000" opacity="0.3"/>
                </g>
            </svg>

          <!--end::Svg Icon-->
        </span>

        <!--end::Svg Icon-->Send
      </button>
      <!--begin::Add-->
      <button
        type="button"
        class="btn btn-light-primary btn-sm"
        data-kt-menu-trigger="click"
        data-kt-menu-placement="bottom-end"
      >
        <!--begin::Svg Icon | path: icons/duotune/technology/teh004.svg-->
        <span class="svg-icon svg-icon-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            version="1.1"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon points="0 0 24 0 24 24 0 24" />
              <path
                d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                fill="#000000"
                fill-rule="nonzero"
                opacity="0.3"
              />
              <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1" />
              <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1" />
            </g>
          </svg>
          <!--end::Svg Icon-->
        </span>

        <!--end::Svg Icon-->Preview PDF
      </button>
      <!--begin::Menu-->

      <!--end::Menu-->
      <!--end::Add-->
    </div>

    <!--end::Card toolbar-->
  </div>

  <div class="card-body pb-5">
    <!--begin::Item-->

    <!--end::Item-->
    <!--begin:Separator-->
    <div class="separator separator-dashed my-5"></div>
    <!--end:Separator-->
    <!--begin::Disclaimer-->
    <div class="text-gray-600">
      <QuillEditor theme="snow" value="value" />
    </div>
    <div class="card-footer">
      <button type="reset" class="btn btn-primary mr-2  me-4">Save as</button>
      <button type="reset" class="btn btn-secondary">Save</button>
    </div>
    <!--end::Disclaimer-->
  </div>
</template>

<script>
import { QuillEditor } from "@vueup/vue-quill";

export default {
  components: {
    QuillEditor,
  },
};
</script>
<style></style>
